{% extends "base.html" %}
{% block header %}
{% endblock %}

{% block content %}
  <div class="parallax" style="background-image: url('static/images/me.jpg'); height: 100%;">
    <div class="caption"><span class="border" style="padding-right: 8px; background-color: #33ccff;">Who am I?</span></div>
  </div>

  <section id="about">
    <div style="height:200px;background-color:white;font-size:36px;text-align: center;">
      <h1>I am an avid learner</h1>
      <p style="width: 80%; margin: auto;">I am a sophomore at Harvard College studying Mathematics and Computer Science. I enjoy solving challenging problems, especially those related to abstract mathematics, modelling, and algorithms. I am currently working on a software package and corresponding paper that estimate error functions in biological sequencing data. </p>
    </div>
  </section>

  <div class="parallax" style="background-image: url('static/images/me2.jpg'); height: 100%;">
    <div class="caption"><span class="border" style="padding-right: 8px; background-color: #ff9933;">Why am I?</span></div>
  </div>

  <section id="about">
    <div style="height:200px;background-color:white;font-size:36px;text-align: center;">
      <h1 style="width: 60%; margin: auto; line-height:32px;">Nobody exists on purpose, nobody belongs anywhere, everybody's gonna die. Come watch TV.</h1>
      <h1 style="color: gray;">-Morty</h1>
    </div>
  </section>
{% endblock %}