{% extends "base.html" %}
{% block header %}
{% endblock %}

{% block content %}
  <div class="box">
    <h1>My Projects</h1>
    <p>This section of the website contains project's I've done over the years that I found to be both interesting and enjoyable!</p>
    <img src="/static/images/paw.png" style="width:50%; height: auto; margin: auto; display:block;">
    <p>Plant-A-Watt is a smartphone application designed to motivate people to save energy. It utilizes the principle of gamification by tracking real world energy usage and giving users in-game rewards for saving energy in real life. Feel free to read the code <a href="https://github.com/alex-kj-chin/PlantAWatt">here!</a></p>
    <img src="/static/images/rhino.jpg" style="width:50%; height: auto; margin: auto; display:block;">
    <p>I have a pet rhinoceros. His name is Chad, and he's performed in circuses all over the world. His special talent is that he can balance a ball on his horn.</a></p>

  </div>
{% endblock %}